@import "tailwindcss";

:root {
  --font-pixel: "Press Start 2P", cursive;
  --color-brand-bg: #f5f5dc;
  --color-brand-text: #5d4037;
  --color-brand-border-light: #efebe9;
  --color-brand-border-dark: #5d4037;
  --color-brand-btn: #4caf50;
  --color-brand-btn-shadow: #388e3c;
  --color-brand-section-1: #3a5a40;
  --color-brand-section-2: #588157;
  --color-btn-blue: #0288d1;
  --color-btn-blue-shadow: #0277bd;
  --color-footer-bg: #1e293b;
  --color-header-bg: rgba(0, 0, 0, 0.5);
  --color-yellow-primary: #fdd835;
  --color-yellow-shadow: #fbc02d;
}

body {
  background-color: #3d405b;
  color: #ffffff;
  font-family: var(--font-pixel);
  overflow-x: hidden;
}

.pixel-border {
  border-width: 4px;
  border-color: var(--color-brand-border-dark);
  box-shadow:
    inset -4px -4px 0 0 var(--color-brand-border-dark),
    inset 4px 4px 0 0 var(--color-brand-border-light);
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  padding: 1rem;
}

.pixel-border-dark {
  background-color: #2E3044;
  border-width: 4px;
  border-color: var(--color-brand-border-dark);
  box-shadow:
    inset -4px -4px 0 0 var(--color-brand-border-dark),
    inset 4px 4px 0 0 var(--color-brand-border-light);
}